@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --bg: #e7ecc7;
  --clr: #100d26;
  --bgAlpha: #e7ecc788;
  --bgAlphaLight: #e7ecc722;
  --clrAlpha: #100d2688;
  --clrAlphaLight: ##100d2622;
  --multiply: multiply;
  --screen: screen;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

html {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: var(--bg);
  color: var(--clr);
  font: 10px/10px "Manuale";
  font-weight: 400;
}

::-moz-selection {
  color: var(--clr);
  background: var(--bg);
}

::selection {
  color: var(--clr);
  background: var(--bg);
}

.sans {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.015em;
}

body {
  width: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  height: 100%;
}

pre {
  border: dotted 1px var(--clrAlphaLight);
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

.settings {
  --active: var(--bg);
  --active-inner: var(--clr);
  --focus: 2px var(--bgAlpha);
  --border: var(--bgAlphaLight);
  --border-hover: var(--bgAlpha);
  --background: var(--clr);
  --disabled: #f6f8ff;
  --disabled-inner: #e1e6f9;
  width: 100%;
  height: 100%;
  overflow: auto;
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.015em;
  font-size: 1.2rem;
  line-height: 2.4rem;
  color: var(--bg);
  background: var(--clr);
}

.settings a#update {
  color: var(--bg);
  background: var(--bgAlphaLight);
  display: block;
  border-radius: 100px;
  text-decoration: none;
  text-align: center;
  margin-top: 1rem;
  padding: .5rem 2rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.settings a#update:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.settings form {
  padding: 3rem;
}

.settings form h {
  display: block;
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--bgAlpha);
}

.settings form h b {
  color: var(--bg);
  font-weight: 700;
  font-style: italic;
}

.settings #switchar {
  margin-top: 2rem;
}

.settings #sliders div {
  position: relative;
  margin-bottom: 1.5rem;
}

.settings .fieldset {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(20rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  grid-column-gap: 3rem;
  margin-top: 2rem;
}

.settings .fieldset div {
  margin-bottom: .5rem;
}

@supports (-webkit-appearance: none) or (-moz-appearance: none) {
  .settings input {
    font-family: "DM Sans", sans-serif;
    letter-spacing: -0.015em;
    color: var(--bg);
    padding: 0.5rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    border: rgba(0, 0, 0, 0.05);
    background: var(--clrBgLight);
    -webkit-transition: -webkit-box-shadow 0.3s ease-out;
    transition: -webkit-box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out, -webkit-box-shadow 0.3s ease-out;
  }
  .settings input[type="text"] {
    width: 100%;
    background: none;
    font-size: 1.6rem;
    border-bottom: 3px solid var(--bgAlphaLight);
    border-radius: 0;
    padding-left: 0;
  }
  .settings input[type="number"] {
    width: 15%;
    position: absolute;
    top: 3px;
    right: 1px;
    background: none;
    padding: 0;
    padding-top: 0;
    font-size: 1.6rem;
    line-height: 1.6rem;
    -webkit-transform: translate(0, -3px);
            transform: translate(0, -3px);
    text-align: right;
    border-radius: 0;
  }
  .settings input::-webkit-outer-spin-button,
  .settings input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .settings input[type="number"] {
    -moz-appearance: textfield;
  }
  .settings input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    cursor: pointer;
    background: var(--bgAlphaLight);
    padding: 0;
    margin: .5rem 0 0;
  }
  .settings input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: var(--bg);
    cursor: pointer;
    margin-top: 0px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .settings input[type="range"]::-webkit-slider-thumb:active {
    background: var(--bgAlpha);
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .settings label {
    display: inline;
    vertical-align: top;
    cursor: pointer;
    margin-left: 0.5rem;
    margin-right: 1rem;
  }
  .settings label:first-child {
    margin-left: 0;
  }
  .settings input[type="button"] {
    line-height: 1, 4rem;
    margin: 0 0 1.5em 0;
    border: 0;
    border-radius: 3em;
    outline: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    color: var(--clr);
    background: var(--active);
  }
  .settings input[type="button"]:hover {
    background: var(--active);
  }
  .settings input[type="checkbox"],
  .settings input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 25px;
    outline: none;
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin: 0;
    cursor: pointer;
    border: 3px solid var(--bgAlphaLight);
    background: var(--b, var(--background));
    -webkit-transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, -webkit-box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s;
    transition: background 0.3s, border-color 0.3s, box-shadow 0.2s, -webkit-box-shadow 0.2s;
    /*  &:focus {
                //box-shadow: 0 0 0 var(--focus);
            } */
  }
  .settings input[type="checkbox"]:after,
  .settings input[type="radio"]:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s);
    transition: transform var(--d-t, 0.3s) var(--d-t-e, ease), opacity var(--d-o, 0.2s), -webkit-transform var(--d-t, 0.3s) var(--d-t-e, ease);
  }
  .settings input[type="checkbox"]:checked,
  .settings input[type="radio"]:checked {
    --b: var(--active);
    --bc: var(--active);
    --d-o: 0.3s;
    --d-t: 0.6s;
    --d-t-e: cubic-bezier(0.2, 0.85, 0.32, 1.2);
  }
  .settings input[type="checkbox"]:disabled,
  .settings input[type="radio"]:disabled {
    --b: var(--disabled);
    cursor: not-allowed;
    opacity: 0.9;
  }
  .settings input[type="checkbox"]:disabled:checked,
  .settings input[type="radio"]:disabled:checked {
    --b: var(--disabled-inner);
    --bc: var(--border);
  }
  .settings input[type="checkbox"]:disabled + label,
  .settings input[type="radio"]:disabled + label {
    cursor: not-allowed;
  }
  .settings input[type="checkbox"]:hover:not(:checked):not(:disabled),
  .settings input[type="radio"]:hover:not(:checked):not(:disabled) {
    --bc: var(--border-hover);
  }
  .settings input[type="checkbox"]:not(.switch),
  .settings input[type="radio"]:not(.switch) {
    width: 21px;
  }
  .settings input[type="checkbox"]:not(.switch):after,
  .settings input[type="radio"]:not(.switch):after {
    opacity: var(--o, 0);
  }
  .settings input[type="checkbox"]:not(.switch):checked,
  .settings input[type="radio"]:not(.switch):checked {
    --o: 1;
  }
  .settings input[type="checkbox"]:not(.switch) {
    border-radius: 7px;
  }
  .settings input[type="checkbox"]:not(.switch):after {
    width: 5px;
    height: 9px;
    border: 2px solid var(--active-inner);
    border-top: 0;
    border-left: 0;
    left: 7px;
    top: 4px;
    -webkit-transform: rotate(var(--r, 20deg)) scale(0);
            transform: rotate(var(--r, 20deg)) scale(0);
  }
  .settings input[type="checkbox"]:not(.switch):checked {
    --r: 43deg;
  }
  .settings input[type="checkbox"]:not(.switch):checked:after {
    -webkit-transform: rotate(var(--r, 20deg)) scale(1);
            transform: rotate(var(--r, 20deg)) scale(1);
  }
  .settings input[type="checkbox"].switch {
    width: 42px;
    border-radius: 13px;
  }
  .settings input[type="checkbox"].switch:after {
    left: 2px;
    top: 2px;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: var(--ab, var(--bg));
    -webkit-transform: translateX(var(--x, 0));
            transform: translateX(var(--x, 0));
  }
  .settings input[type="checkbox"].switch:checked {
    --ab: var(--active-inner);
    --x: 17px;
    border-color: var(--bgAlpha);
  }
  .settings input[type="checkbox"].switch:disabled:not(:checked):after {
    opacity: 0.6;
  }
  .settings input[type="radio"] {
    border-radius: 50%;
  }
  .settings input[type="radio"]:after {
    width: 19px;
    height: 19px;
    border-radius: 50%;
    background: var(--active-inner);
    opacity: 0;
    -webkit-transform: scale(var(--s, 0.7));
            transform: scale(var(--s, 0.7));
  }
  .settings input[type="radio"]:checked {
    --s: 0.5;
  }
}
/*# sourceMappingURL=styles.css.map */